In [1]:
list1= [3, 4, 5] #basic list
len(list1) #gives us the amount of items in the list, items are seperated by commas
list3 = [1] 
len(list3)

1

In [2]:
min(list1) #shows the lowest value in the list

3

In [3]:
max(list1) #shows the highest value in the list

5

In [4]:
sum(list1) #adds all the values in the list (3 + 4 + 5)

12

In [5]:
'hi' *3 #makes a string of 3 'hi' together

'hihihi'

In [6]:
'abcd'[-1] #choose index 2 of the sequence
list1[-1]

5

In [7]:
list1.append(8) #adds value 8 to list
print(list1)

[3, 4, 5, 8]

In [8]:
list1.append(10)
print(list1)

[3, 4, 5, 8, 10]

In [9]:
s = '12345'
s[2:4]
s[:4:2]

'13'

In [10]:
for n in range(10): #iterates through range of 10 (0-9)
    list1.append(n) #adds values to the list
    print(list1)

[3, 4, 5, 8, 10, 0]
[3, 4, 5, 8, 10, 0, 1]
[3, 4, 5, 8, 10, 0, 1, 2]
[3, 4, 5, 8, 10, 0, 1, 2, 3]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4, 5]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4, 5, 6]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 8, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list1.remove(8) #removes value 8
print(list1)

[3, 4, 5, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list1.remove(3)
print(list1)

[4, 5, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list2 = [-1, -2]
list1.extend(list2) #extends our list with the list2. 
print(list1)

[4, 5, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -2]

In [11]:
list1.pop() #removes the last element in the list (-2)
print(list1)

[3, 4, 5, 0, 1, 2, 3, 4, 5, 6, 7, 9, -1]

In [12]:
list1.reverse() #puts the list in a reverse order
print(list1)

[-1, 9, 7, 6, 5, 4, 3, 2, 1, 0, 5, 4, 3]

In [13]:
list1.sort() #sorts the values in the list
print(list1)

[-1, 0, 1, 2, 3, 3, 4, 4, 5, 5, 6, 7, 9]

In [14]:
L = range(3) #assigns variable L to a range of 3 
for i in L: #for statement to get items in L
    print(i) #prints each item/value in L, which is range of 3 (0, 1, 2)  **since it starts with the value 0 
    #to get a range of 3 values you only need to go up to 2, not 3. 
print(L)

0
1
2
range(0, 3)

In [15]:
L[-1] #grabs the index -1 (the last item) in the sequence

2

In [16]:
L=range(10) #sets variable L to range of 10
print(list(L)) #makes the variable L into a list.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(list(range(0, 7, 2))) #this can be a bit confusing but it's taking the slice 0:7 and only grabbing every 2nd item
 #the 2 is known as the step
print(list(range(0, 10, 3))) #this one is grabbing every 3rd value from 0:10

[0, 2, 4, 6]
[0, 3, 6, 9]

In [20]:
L=[5,3,7,1]
L.sort()      # here we call the sort method of the object L
print(L)
L2=[6,1,7,3,6]
print(sorted(L2))
print(L2)
print(L)
print(L2)

[1, 3, 5, 7]
[1, 3, 6, 6, 7]
[6, 1, 7, 3, 6]
[1, 3, 5, 7]
[6, 1, 7, 3, 6]

In [21]:
L=[5,3,7,1]
print(sorted(L, reverse=True)) #just reverses the sort/sorted to going reverse in values, if you put reverse=False it's
#it will put them back from smallest to largest
print(sorted(L, reverse=False))
print(sorted(L))

[7, 5, 3, 1]
[1, 3, 5, 7]
[1, 3, 5, 7]

In [12]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [13]:
type('hello')

str

In [14]:
type(1)

int

In [15]:
type('1')

str

In [16]:
type(1.0)

float

In [17]:
type('1.0')

str

In [18]:
type(2)

int

In [19]:
float(2)

2.0

In [21]:
import math

In [22]:
print('1')

1

In [24]:
def hello(4):

print(hello)

SyntaxError: invalid syntax (<ipython-input-24-c0c39cd17199>, line 1)